<div class="container">
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Game" [value]="game">
  </mat-form-field>
  <div class="row">
    <div class="col-sm-5">
      <mat-form-field class="full-width">
        <mat-select [(value)]="type" placeholder="Type">
            <mat-option value="play">Playing</mat-option>
            <mat-option value="listen">Listening to</mat-option>
            <mat-option value="stream">Streaming</mat-option>
            <mat-option value="watch">Watching</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-5">
      <mat-form-field class="full-width">
        <mat-select [(value)]="status" placeholder="Status">
            <mat-option value="online">Online</mat-option>
            <mat-option value="dnd">DND</mat-option>
            <mat-option value="idle">Idle</mat-option>
            <mat-option value="invisible">Invisible</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-1">
      <button mat-button>
        <mat-icon class="mat-18">replay</mat-icon>
      </button>
    </div>
    <div class="col-sm-1">
        <button mat-button>
          <mat-icon class="mat-18">done</mat-icon>
        </button>
    </div>
  </div>
</div>