<div class="container workspace">
  <div class="row bar">
    <div class="col-sm-2">
      <p class="typography white">HD | Application</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p class="typography">
        <b>
          Description:
        </b>
      </p>
    </div>
    <div class="col-sm-10">
      <p class="typography">
        It's an application for having a copy of the "HD" bot for you usage.
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <app-unit-warning class="full-width"></app-unit-warning>
  <button mat-raised-button color="primary">+ Create</button>
</div>
