<div class="widget">
  <h1 class="typography">Do you have a server?</h1>
  <h1 class="typography">Do you have shop?</h1>
  <h1 class="typography">Do you want to host your bots cheaper?</h1>
  <h1 class="typography">Do you want to have all features?</h1>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary">Become a partner</button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>
<div class="widget">
  <h1 class="typography" style="text-align: center;">Applications</h1>
</div>
<div class="widget">
  <h1 class="typography" style="text-align: center;">Guilds</h1>
</div>
<div class="widget">
  <h1 class="typography" style="text-align: center;">Shops</h1>
</div>
<div class="widget">
  <h1 class="typography" style="text-align: center;">Features</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <ul>
          <li>Custom Bots</li>
          <li>Premium Features</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Premium Server</li>
          <li>Custom Prize</li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<div class="widget">
  <h1 class="typography" style="text-align: center;">Are you excited?</h1>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary">Become a partner</button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>
<mat-divider></mat-divider>
<h1 class="typography" style="text-align: center;">Copyright © 2019 DisNetwork Team</h1>
