<div class="container workspace">
  <div class="row bar">
    <div class="col-sm-2">
      <p class="typography white">Application 1</p>
    </div>
    <div class="col-sm-11"></div>
  </div>
  <div>
      <mat-tab-group class="tab-group">
          <mat-tab label="Inforamtion">
            <app-information></app-information>
          </mat-tab>
          <mat-tab label="Source code">
            <app-source-code></app-source-code>
          </mat-tab>
          <mat-tab label="Test bot">
            <app-test-bot></app-test-bot>
          </mat-tab>  
      </mat-tab-group>
  </div>
</div>
