<div class="widget">
  <h1 class="typography" style="text-align: center;">DisNetwork</h1>
  <p class="typography">Discord bots network</p>
</div>
<div class="widget">
  <h1 class="typography">Run your bot CHEAPER</h1>
</div>
<div class="widget">
  <h1 class="typography">You don't need to code your bot! :)</h1>
</div>
<div class="widget">
  <h1 class="typography">Sponsers</h1>
</div>
<div class="widget">
  <h1 class="typography">What are you waiting for?</h1>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary">Run your bot for free now</button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>
<mat-divider></mat-divider>
<h1 class="typography" style="text-align: center;">Copyright © 2019 DisNetwork Team</h1>
