<div class="container">
  <app-unit-warning class="full-width"></app-unit-warning>
  <mat-form-field class="full-width">
    <input matInput placeholder="Access Token" [value]="access_token" />
  </mat-form-field>
  <div class="row">
    <div class="col-sm-3">
      <button mat-raised-button class="full-width" disabled>Start</button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button class="full-width" color="warn">Stop</button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button class="full-width">Restart</button>
    </div>
  </div>
  <br>
</div>
