<mat-sidenav-container class="full-height">
    <mat-sidenav mode="side" #sidenav autosize>
        <mat-list dense>
            <mat-list-item *ngFor="let button of buttons">
                <button mat-button (click)="onClick(button.route)"> {{ button.name }} </button>
                <br>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <!-- Body -->
    <mat-toolbar color="primary">
        <button mat-raised-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>&nbsp; DisNetwork</span>
        <div class="row">
            <div class="col-sm-1">
                <button mat-button (click)="onClick('home/partners')">Partners</button>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-1">
                <button mat-button (click)="onClick('auth/login')">Sign in</button>
            </div>
        </div>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
