/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    border: 0;
}

.typography {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: .5em;
    margin-bottom: .5em;
}

.bar {
    background-color: #4F84C4;
}

.container {
    margin-top: 1em;
}

.workspace {
    background-color: #ffff;
}

.white {
    color: white !important;
}

.full-width {
    width: 100%;
}
